<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.sismicapp"
        version     = "1.4.0" >

    <name>Sismicapp</name>

    <description>
        Esta aplicación detecta los sismos que son reportados por la Red Sismológica Nacional de Colombia e informa en tiempo real. 
    </description>

    <author href="https://build.phonegap.com" email="jsbeleno@gmail.com">
        Juan Sebastián Beleño Díaz
    </author>
	
    <access origin="*" />

	<icon src="img/logo.png" />
	
	<preference name="permissions" value="none" />
	
	<preference name="orientation" value="portrait" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.pushplugin"/>
	<gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
</widget>